// @import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap')
// @import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@500&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Alegreya:wght@400;500&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap')
// @import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;1,200&display=swap')
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,700;1,200&display=swap')
@import 'libs/vendor'
@import 'libs/animations'
@import 'libs/resources'

// $font-main: 'Montserrat', sans-serif
// $font-main: 'Alegreya', serif
$font-main: 'Source Sans Pro', sans-serif

html, body, h2, ul
	margin: 0
	padding: 0

a, li
	text-decoration: none

html
	height: 100%
	
body
	min-height: 100%
	background-color: #fff
	font-family: $font-main
	// background-image: linear-gradient(rgba(105, 145, 199, 0.97) 0%, rgba(163, 189, 237, 0.97) 100%), url('../images/tiles_background.gif')
	background-image: linear-gradient(rgba(9, 32, 63, 0.97) 0%, rgba(82, 120, 149, 0.97) 100%), url('../images/tiles_background.gif')
	background-position: 0 0, center
	background-repeat: repeat, repeat
	background-size: cover, 600px

	&.preload
		.header-separator
			@include vendor('transform', 'scale(0, 1)')

		#header-logo
			background-image: none
			opacity: 0
			@include vendor('transform', 'scale(1.1)')
			@include vendor('animation', 'none !important')

			&-details::before, &-details::after
				@include vendor('transform', 'scale(0, 1)')

::-webkit-scrollbar
    width: 0px
    background: transparent

header
	height: 100vh
	width: 100%
	position: relative
	overflow: hidden
	display: flex
	align-items: center
	justify-content: center

	#header-logo
		position: relative
		width: 100%
		color: #fff
		opacity: 1
		@include vendor('transform', 'scale(1)')
		@include vendor('transition', 'transform 1s, width 1s, opacity 1s')
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-evenly

		&-name
			position: relative
			line-height: 5rem
			font-size: 5rem
			font-weight: 200
			letter-spacing: 0.1rem
			margin-bottom: 3rem

			.bold
				font-weight: 700 !important
		
		&-details
			display: flex
			justify-content: space-around
			font-size: 1.2rem
			background-color: rgba(0, 0, 0, .3)
			padding: 2rem
			border-radius: 2px
			margin-bottom: 3rem

			> div
				
				&::after
					content: '·'
					margin: 0 1.5rem
				
				&:last-child::after
					content: ''
					margin: 0

		&-info
			font-size: 1.8rem
			text-align: center

#nav
	width: 100%
	height: 7vh

	ul
		height: 100%
		list-style: none
		@include flex-center

		li
			padding: 0 1.25em

section
	background-color: red
