@charset "UTF-8";
@-webkit-keyframes border-around {
  0% {
    background-size: 0 1px, 1px 0, 0 1px, 1px 0;
  }
  25% {
    background-size: 100% 1px, 1px 0, 0 1px, 1px 0;
  }
  50% {
    background-size: 100% 1px, 1px 100%, 0 1px, 1px 0;
  }
  75% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 0;
  }
  100% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  }
}
@keyframes border-around {
  0% {
    background-size: 0 1px, 1px 0, 0 1px, 1px 0;
  }
  25% {
    background-size: 100% 1px, 1px 0, 0 1px, 1px 0;
  }
  50% {
    background-size: 100% 1px, 1px 100%, 0 1px, 1px 0;
  }
  75% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 0;
  }
  100% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #ffffff66;
            box-shadow: 0 0 0 0 #ffffff66;
  }
  to {
    -webkit-box-shadow: 0 0 0 30px #ffffff00;
            box-shadow: 0 0 0 30px #ffffff00;
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #ffffff66;
            box-shadow: 0 0 0 0 #ffffff66;
  }
  to {
    -webkit-box-shadow: 0 0 0 30px #ffffff00;
            box-shadow: 0 0 0 30px #ffffff00;
  }
}

@-webkit-keyframes stroking {
  0% {
    stroke-dashoffset: 3200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

@keyframes stroking {
  0% {
    stroke-dashoffset: 3200;
  }
  100% {
    stroke-dashoffset: 0;
  }
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url("../fonts/SourceSansPro-ExtraLight.woff2") format("woff2"), url("../fonts/SourceSansPro-ExtraLight.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/SourceSansPro-Regular.woff2") format("woff2"), url("../fonts/SourceSansPro-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Source Sans Pro";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/SourceSansPro-Bold.woff2") format("woff2"), url("../fonts/SourceSansPro-Bold.ttf") format("truetype");
}

body {
  font-family: "Source Sans Pro", sans-serif;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

body {
  min-height: 100%;
  line-height: 1.3;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 32, 63, 0.97)), to(rgba(82, 120, 149, 0.97))), url("../images/tiles_background.gif");
  background-image: linear-gradient(rgba(9, 32, 63, 0.97) 0%, rgba(82, 120, 149, 0.97) 100%), url("../images/tiles_background.gif");
  background-position: 0 0, center;
  background-repeat: repeat, repeat;
  background-size: cover, 600px;
}

body p {
  font-weight: 200;
}

body strong {
  font-weight: 400;
}

body.preload .header-separator {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

body.preload #header-logo {
  background-image: none;
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-animation: none !important;
  animation: none !important;
}

body.preload #header-logo-details::before, body.preload #header-logo-details::after {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

#header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#header-logo {
  position: relative;
  width: 100%;
  color: #fff;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 1s, width 1s, opacity 1s;
  -webkit-transition: width 1s, opacity 1s, -webkit-transform 1s;
  transition: width 1s, opacity 1s, -webkit-transform 1s;
  transition: transform 1s, width 1s, opacity 1s;
  transition: transform 1s, width 1s, opacity 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

#header-logo-name {
  position: relative;
  line-height: 5rem;
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

#header-logo-name .bold {
  font-weight: 700 !important;
}

#header-logo-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 2px;
  margin-bottom: 3rem;
}

#header-logo-details > div::after {
  content: '·';
  margin: 0 1.5rem;
}

#header-logo-details > div:last-child::after {
  content: '';
  margin: 0;
}

#header-logo-info {
  font-size: 1.8rem;
  text-align: center;
}

#nav {
  width: 80%;
  height: 4rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  margin: 0 auto;
  z-index: 1;
  font-size: 1.3rem;
  background-color: #f3f3f3;
  border-radius: 2px 2px 0 0;
}

#nav ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav ul li {
  height: 100%;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav ul li a {
  height: 100%;
  color: inherit;
  padding: 0 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color .2s, color .2s;
  transition: background-color .2s, color .2s;
}

#nav ul li a:hover {
  background-color: #DEECFF;
}

#nav ul li a.active {
  background-color: #09203f;
  color: #fff;
}

#main {
  width: 80%;
  margin: 0 auto;
  background-color: #fff;
}

#about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 1.2rem;
}

#about-info {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#about-info hr {
  width: 70%;
  height: 1px;
  border: 0;
  background-color: #eeeeee;
}

#about-info .quote {
  width: 75%;
  position: relative;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  font-weight: 200;
  padding: 1.5rem .5rem 1.8em;
  margin: 1.5rem auto;
}

#about-info .quote::before {
  content: '\201C';
  position: absolute;
  top: -.7rem;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #464646;
  text-align: center;
}

#about-info .quote::after {
  content: "– " attr(cite);
  position: absolute;
  bottom: .5rem;
  right: .5rem;
  text-align: right;
  font-size: 0.875em;
  color: #e74c3c;
}

#about-info-description {
  padding: 0 1rem;
}

#about-info-icons {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#about-info-icons .icon-container {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.4rem;
  font-weight: 700;
}

#about-info-icons .icon-container svg {
  width: 50%;
  stroke: #09203f;
  stroke-width: 10;
  fill: none;
  opacity: 0;
  -webkit-transition: opacity .2s;
  transition: opacity .2s;
}

#about-info-icons .icon-container .animate-stroke {
  opacity: 1;
  stroke-dasharray: 3200;
  -webkit-animation: stroking 4s linear;
          animation: stroking 4s linear;
}

#about-img {
  width: 30%;
  height: auto;
}

#projects {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

#projects .project {
  width: 29%;
  position: relative;
  background-color: #f3f3f3;
  border-radius: 2px;
  color: #000;
  overflow: hidden;
  -webkit-transition: color 0.3s, background-color 0.3s;
  transition: color 0.3s, background-color 0.3s;
}

#projects .project::before {
  content: '';
  float: left;
  padding-top: 100%;
}

#projects .project::after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

#projects .project img {
  width: 100%;
  opacity: .3;
  -webkit-filter: blur(5px);
          filter: blur(5px);
  -webkit-transform: translate3d(50%, 50%, 0);
          transform: translate3d(50%, 50%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#projects .project .project-title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 2rem;
  z-index: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

#projects .project .project-title .bold {
  font-weight: 700 !important;
}

#projects .project .project-description {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 95%;
  font-size: 1.3rem;
  z-index: 1;
  text-align: center;
  opacity: 0;
  -webkit-transform: translate3d(-50%, -10%, 0);
          transform: translate3d(-50%, -10%, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

#projects .project .project-technologies {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  z-index: 1;
}

#projects .project .project-technologies .svg-container {
  width: 4em;
  height: 4em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0 .5rem;
  -webkit-transform: translate3d(0, -10%, 0);
          transform: translate3d(0, -10%, 0);
  -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: opacity 0.3s, -webkit-transform 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s, -webkit-transform 0.3s;
}

#projects .project .project-technologies .svg-container:nth-child(1) {
  -webkit-transition-delay: 0.1s;
          transition-delay: 0.1s;
}

#projects .project .project-technologies .svg-container:nth-child(2) {
  -webkit-transition-delay: 0.2s;
          transition-delay: 0.2s;
}

#projects .project .project-technologies .svg-container:nth-child(3) {
  -webkit-transition-delay: 0.3s;
          transition-delay: 0.3s;
}

#projects .project .project-technologies .svg-container path {
  -webkit-transition: fill 0.3s;
  transition: fill 0.3s;
}

#projects .project:hover {
  color: #fff;
}

#projects .project:hover::after {
  opacity: .6;
}

#projects .project:hover img {
  -webkit-transform: translate3d(0, 0, 0) !important;
          transform: translate3d(0, 0, 0) !important;
}

#projects .project:hover.android {
  background-color: #3ddb84 !important;
}

#projects .project:hover.cordova {
  background-color: #ececec !important;
}

#projects .project:hover.cordova #cordova-icon path {
  fill: #E7E7E7;
}

#projects .project:hover.angular {
  background-color: #b52e31 !important;
}

#projects .project:hover.angular #micronaut-icon path {
  fill: #e7e7e7;
}

#projects .project:hover .project-title {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -400%, 0);
          transform: translate3d(-50%, -400%, 0);
}

#projects .project:hover .project-description {
  opacity: 1;
  -webkit-transform: translate3d(-50%, -50%, 0);
          transform: translate3d(-50%, -50%, 0);
}

#projects .project:hover .project-technologies .svg-container {
  opacity: 1;
  -webkit-transform: translate3d(0, -50%, 0);
          transform: translate3d(0, -50%, 0);
}
/*# sourceMappingURL=main.css.map */