@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,700;1,200&display=swap");
@-webkit-keyframes border-around {
  0% {
    background-size: 0 1px, 1px 0, 0 1px, 1px 0;
  }
  25% {
    background-size: 100% 1px, 1px 0, 0 1px, 1px 0;
  }
  50% {
    background-size: 100% 1px, 1px 100%, 0 1px, 1px 0;
  }
  75% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 0;
  }
  100% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  }
}
@keyframes border-around {
  0% {
    background-size: 0 1px, 1px 0, 0 1px, 1px 0;
  }
  25% {
    background-size: 100% 1px, 1px 0, 0 1px, 1px 0;
  }
  50% {
    background-size: 100% 1px, 1px 100%, 0 1px, 1px 0;
  }
  75% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 0;
  }
  100% {
    background-size: 100% 1px, 1px 100%, 100% 1px, 1px 100%;
  }
}

@-webkit-keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #ffffff66;
            box-shadow: 0 0 0 0 #ffffff66;
  }
  to {
    -webkit-box-shadow: 0 0 0 30px #ffffff00;
            box-shadow: 0 0 0 30px #ffffff00;
  }
}

@keyframes pulse {
  from {
    -webkit-box-shadow: 0 0 0 0 #ffffff66;
            box-shadow: 0 0 0 0 #ffffff66;
  }
  to {
    -webkit-box-shadow: 0 0 0 30px #ffffff00;
            box-shadow: 0 0 0 30px #ffffff00;
  }
}

html, body, h2, ul {
  margin: 0;
  padding: 0;
}

a, li {
  text-decoration: none;
}

html {
  height: 100%;
}

body {
  min-height: 100%;
  background-color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(9, 32, 63, 0.97)), to(rgba(82, 120, 149, 0.97))), url("../images/tiles_background.gif");
  background-image: linear-gradient(rgba(9, 32, 63, 0.97) 0%, rgba(82, 120, 149, 0.97) 100%), url("../images/tiles_background.gif");
  background-position: 0 0, center;
  background-repeat: repeat, repeat;
  background-size: cover, 600px;
}

body.preload .header-separator {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

body.preload #header-logo {
  background-image: none;
  opacity: 0;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-animation: none !important;
  animation: none !important;
}

body.preload #header-logo-details::before, body.preload #header-logo-details::after {
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
}

header {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #header-logo {
  position: relative;
  width: 100%;
  color: #fff;
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
  -webkit-transition: -webkit-transform 1s, width 1s, opacity 1s;
  -webkit-transition: width 1s, opacity 1s, -webkit-transform 1s;
  transition: width 1s, opacity 1s, -webkit-transform 1s;
  transition: transform 1s, width 1s, opacity 1s;
  transition: transform 1s, width 1s, opacity 1s, -webkit-transform 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

header #header-logo-name {
  position: relative;
  line-height: 5rem;
  font-size: 5rem;
  font-weight: 200;
  letter-spacing: 0.1rem;
  margin-bottom: 3rem;
}

header #header-logo-name .bold {
  font-weight: 700 !important;
}

header #header-logo-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  font-size: 1.2rem;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 2rem;
  border-radius: 2px;
  margin-bottom: 3rem;
}

header #header-logo-details > div::after {
  content: '·';
  margin: 0 1.5rem;
}

header #header-logo-details > div:last-child::after {
  content: '';
  margin: 0;
}

header #header-logo-info {
  font-size: 1.8rem;
  text-align: center;
}

#nav {
  width: 100%;
  height: 7vh;
}

#nav ul {
  height: 100%;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#nav ul li {
  padding: 0 1.25em;
}

section {
  background-color: red;
}
/*# sourceMappingURL=main.css.map */