#header
	height: 100vh
	width: 100%
	position: relative
	overflow: hidden
	display: flex
	align-items: center
	justify-content: center

	&-logo
		position: relative
		width: 100%
		color: #fff
		opacity: 1
		@include vendor('transform', 'scale(1)')
		@include vendor('transition', 'transform 1s, width 1s, opacity 1s')
		display: flex
		flex-direction: column
		align-items: center
		justify-content: space-evenly

		&-name
			position: relative
			line-height: 5rem
			font-size: 5rem
			font-weight: 200
			letter-spacing: 0.1rem
			margin-bottom: 3rem

			.bold
				font-weight: 700 !important

		&-details
			display: flex
			justify-content: space-around
			font-size: 1.2rem
			background-color: rgba(0, 0, 0, .3)
			padding: 2rem
			border-radius: 2px
			margin-bottom: 3rem
			font-weight: 200

			> div

				&::after
					content: '·'
					margin: 0 1.5rem

				&:last-child::after
					content: ''
					margin: 0

		&-info
			display: flex
			height: 2.4rem
			overflow: hidden
			font-size: 1.8rem
			font-weight: 200
			border-right: 2px solid transparent
			animation: caret 1s step-end infinite

			.typewriting
				white-space: nowrap
				overflow: hidden
				width: 0

			.typewriting-animate
				animation: typing 1.5s steps(10, end) 1s 1 normal both

			$width-values: 13.8, 15.2, 9.2, 11, 21.6
			$steps-values: 35, 37, 22, 29, 54
			@for $i from 1 to 6
				.typewriting-animate-#{$i}
					@include typewritingAnimation($i, nth($width-values, $i), 30, nth($steps-values, $i), 4)

// &-scroll-down
	// 	width: 1.5rem
	// 	height: 1.5rem
	// 	position: relative
	// 	border-bottom: 3px solid #fff
	// 	border-right: 3px solid #fff
	// 	transform: rotate(45deg)
	// 	&::after
	// 		content: '·'
	// 		position: absolute
	// 		top: 0
	// 		left: 0
	// 		color: white
	// 		font-size: 5rem
		// @include arrow(#fff)
		// width: 8px
		// height: 8px
		// transform: rotate(-45deg)
    	// box-shadow: 2px 2px 0 #fff, 3px 2px 0 #fff, 2px 3px 0 #fff, 3px 3px 0 #fff	