#projects
    display: flex
    justify-content: space-between

    .project 
        // flex-grow: 1
        // flex-basis: 0
        width: 29%
        position: relative
        background-color: #f3f3f3
        border-radius: 2px
        color: #000
        transition: color .2s

        &::before 
            content: ''
            float: left
            padding-top: 100%

        &::after
            content: ''
            width: 100%
            height: 100%
            position: absolute
            background-color: #000
            opacity: 0
            transition: opacity .2s

        .project-title 
            position: absolute
            top: 50%
            left: 50%
            font-size: 2rem
            z-index: 1
            transform: translate3d(-50%, -50%, 0)
            transition: transform .3s

            .bold 
                font-weight: 700 !important

        .project-description 
            position: absolute
            top: 50%
            left: 50%
            width: 95%
            font-size: 1.3rem
            z-index: 1
            text-align: center
            opacity: 0
            transform: translate3d(-50%, -10%, 0)
            transition: transform .3s, opacity .3s


        .project-technologies 
            position: absolute
            bottom: 0
            width: 100%
            display: flex
            justify-content: center
            align-items: flex-end
            z-index: 1

            .svg-container
                width: 4em
                height: 4em
                position: relative
                @include flex-center
                margin: 0 .5rem
                opacity: 0
                transform: translate3d(0, 0, 0)
                transition: transform .3s, opacity .3s
                @include loop-nth-child(3)

        &.android
            background-color: #3ddb84 !important

        &.cordova
            background-color: #ececec !important

        &.angular
            background-color: #B52E31 !important

        &:hover
            color: #fff
            
            &::after
                opacity: .6
            
            .project-title 
                opacity: 1
                transform: translate3d(-50%, -400%, 0)

            .project-description 
                opacity: 1
                transform: translate3d(-50%, -50%, 0)

            .project-technologies .svg-container
                opacity: 1
                transform: translate3d(0, -50%, 0)

    // #zowi-apprende-project

    // 	&::after
    // 		content: ''
    // 		width: 100%
    // 		height: 100%
    // 		position: absolute
    // 		background: linear-gradient(rgba(61, 219, 132, .7), rgba(61, 219, 132, .7)), url('../images/zowi.png')
    // 		background-size: cover, cover
    // 		background-position: 0 0, 50% 50%
    // 		background-repeat: no-repeat, no-repeat
    // 		// filter: blur(7px)

    // 	&:hover::after
    // 		background-color: red